@import 'normalize.css';
@import './variables.css';

:root {
  font-size: 1em; /* 16px */
  font-family: Arial, sans-serif;

  & a {
    color: var(--col-link);
    text-decoration: none;
    &:active {
      color: var(--col-link-active);
    }
    &:visited {
      color: var(--col-link-visited);
    }
    &:hover {
      color: var(--col-link-hover);
    }
    &:focus {
      color: var(--col-link-focus);
      outline: none;
      border-radius: var(--rounded-sm);
      box-shadow: var(--shadow-outline-gray);
    }
    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
    &:focus-visible {
      border-radius: var(--rounded-sm);
      box-shadow: var(--shadow-outline-gray);
    }
  }
}
